@model NBPDom1i2.Models.SelectCustomerEditorViewModel
<tr>
    <td><a href="http://example.com">@Html.DisplayFor(m => m.name)</a></td>
    <td>@Html.DisplayFor(m => m.username)</td>
    <td>@Html.CheckBoxFor(m => m.selected)</td>
</tr>
