@model NBPDom1i2.ViewModels.TitleGenreActorDirectorView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <h2>Movies</h2>
    <div class="row">
        <div class="col-sm-8">
            <table id="movies" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline">
                <label>Search</label>
                <input type="text" class="form-control" />
            </div>
            <div class="dropdown">
                @Html.DropDownListFor(m => m.genres, new SelectList(Model.genres), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

