@model NBPDom1i2.ViewModels.HomeList

@{
    ViewBag.Title = "Home Page";
}

@if ((string)Session["role"] == "customer")
{<div class="row">
        <div class="col-sm-8">
            <table id="movies" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Movie</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (string s in Model.historytitles)
                    {
                        <tr>
                            <td><a href="http://localhost:51894/Movie/@s">@s</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>}
<div class="row">
    <h2>Top15</h2>
    <div class="col-sm-8">
        <table id="movies" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var v in Model.top15)
                {
                    <tr>
                        <td><a href="http://localhost:51894/Movie/@v.Key">@v.Key</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>