@model NBPDom1i2.Models.CustomersSelectionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DeleteCustomer", "Customers"))
{   <div class="container-fluid">
        <h2>Customers</h2>
        <div class="row">
            <div class="col-sm-8">
                <table id="movies" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Select</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.customers.Count; i++)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => Model.customers[i].name)
                            </td>
                            <td style="text-align:center">
                                @Html.CheckBoxFor(m => Model.customers[i].selected)
                            </td>
                            <td>
                                @Html.HiddenFor(model => Model.customers[i].username)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
}